html {
    background-image: url(../images/cloth.png);
    background-size: 500px;
    background-repeat: repeat;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

#name1 {
    float: left;
    background-color: #9b9376;
    height: 45px;
    margin-left: 10%;
    width: 17%;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}

#navigation {
    min-height: 55px;
    color: white;
    width: 100%;
    background-color: rgb(214, 207, 195);
}

.navLinks {
    float: right;
    font-size: 18px;
    color: white;
    text-align: center;
    min-height: 55px;
    list-style-type: none;
    margin-right: 10%;
    z-index: 1;
}

li {
    display: inline;
    padding-right: 30px;
}

#name1:link,
li a:link {
    text-decoration: none;
    color: white;
}

#name1:visited,
li a:visited {
    text-decoration: none;
    color: white;
}

#name1:hover,
li a:hover {
    color: rgb(70, 52, 20);
    text-decoration: none;
}

#name1:active,
li a:active {
    text-decoration: none;
    color: white;
}

.aboutMe {
    font-size: 34px;
    color: white;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: white 3px solid;
}

#doggy {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
}

p {
    padding-left: 30px;
    padding-right: 30px;
}

section {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(214, 207, 195);
    height: 400px;
    margin-top: 8%;
    color: white;
}

section.porto {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12%;
    background-color: rgb(214, 207, 195);
    height: 540px;
    margin-top: 8%;
    color: white;
}

form {
    padding-left: 30px;
    font-size: 14px;
}

textarea{
    width: 300px;
    height: 100px;
}

div.gallery {
    margin: 20px;
    float: left;
    width: 200px;
    position: relative;
}

#mainFrame {
    margin-left: 10%;
}

.titles {
    width: 100%;
    background-color: #9b9376;
    text-align: center;
    color: white;
    position: absolute;
    top: 110px;
    height: 25px;
    padding-top: 7px;
}

img {
    z-index: -1;
}

footer {
    text-align: center;
    margin-top: 15px;
    color: white;
    width: 100%;
    height: 40px;
    background-color: rgb(214, 207, 195);
    position: relative;
    bottom: -150;
    padding-top: 25px;

}

